<% if current_user.name.nil? %>
    <h1>Welcome</h1>
<% else %>
    <h1>Welcome, <%= current_user.name %></h1>
<%end%>

<%= link_to "View Books by Genre", genres_path %>
<br>


    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>


<h2>My Library</h2>
<% if current_user.books.nil? %>
    <%= link_to "Your library is empty. Find books to add to your library.", books_path%>
<% else %>
    <% current_user.books.each do |book| %>
        <%= book.title %> | <%= book.author %> | <%= book.genre.name %><br>
    <% end %>
<% end %>