<h1><%= @book.title %></h1>
<h2>By <%= @book.author %></h2>
<p><%= @book.pages %> pages</p>
<p><%= @book.genre.name %></p>

<p>Have you read this book?</p>
<%= form_for @book do |f| %>
    <%= f.hidden_field :read %><br />
    <%= f.submit "Add this book to my library", class:"btn btn-light" %>
<% end %>